# HR DATA ANALYSIS

In [1]:
import pandas as pd
import numpy as np

In [2]:
file_path = '/kaggle/input/hr-data-analysis/HR Data.csv'
df = pd.read_csv(file_path)

In [3]:
print("Initial Data:")
print(df.head())
print(df.columns.tolist())

Initial Data:
   Age Attrition     BusinessTravel  DailyRate              Department  \
0   41       Yes      Travel_Rarely       1102                   Sales
1   49        No  Travel_Frequently        279  Research & Development
2   37       Yes      Travel_Rarely       1373  Research & Development
3   33        No  Travel_Frequently       1392  Research & Development
4   27        No      Travel_Rarely        591  Research & Development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                 1          2  Life Sciences              1               1
1                 8          1  Life Sciences              1               2
2                 2          2          Other              1               4
3                 3          4  Life Sciences              1               5
4                 2          1        Medical              1               7

   ...  RelationshipSatisfaction StandardHours  StockOptionLevel  \
0  ...                         1            80                 0
1  ...                         4            80                 1
2  ...                         2            80                 0
3  ...                         3            80                 0
4  ...                         4            80                 1

   TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
0                  8                      0               1               6
1                 10                      3               3              10
2                  7                      3               3               0
3                  8                      3               3               8
4                  6                      3               3               2

  YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0                  4                        0                     5
1                  7                        1                     7
2                  0                        0                     0
3                  7                        3                     0
4                  2                        2                     2

[5 rows x 35 columns]
['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department', 'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount', 'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion', 'YearsWithCurrManager']

In [4]:
columns_to_remove = ['EmployeeCount', 'StandardHours', 'Over18', 'EmployeeNumber']
df.drop(columns=columns_to_remove, inplace=True)

In [6]:
df.rename(columns={
    'Attrition': 'Turnover',
    'BusinessTravel': 'TravelFrequency',
    'DailyRate': 'DailySalary',
    'DistanceFromHome': 'HomeDistance',
    'EducationField': 'FieldOfStudy',
    'JobRole': 'JobPosition',
    'MonthlyIncome': 'MonthlySalary',
    'MonthlyRate': 'MonthlyRateValue',
    'NumCompaniesWorked': 'NumCompaniesWorkedBefore',
    'StockOptionLevel': 'StockOptions',
    'TotalWorkingYears': 'TotalExperienceYears',
    'TrainingTimesLastYear': 'LastYearTrainingCount',
    'YearsAtCompany': 'YearsInCompany',
    'YearsInCurrentRole': 'CurrentRoleYears',
    'YearsSinceLastPromotion': 'YearsSincePromotion',
    'YearsWithCurrManager': 'YearsWithManager'
}, inplace=True)

In [7]:
df.drop_duplicates(inplace=True)

In [8]:
columns_to_sanitize = ['Turnover', 'TravelFrequency', 'Department', 'FieldOfStudy', 'JobPosition', 'MaritalStatus', 'Gender']
for col in columns_to_sanitize:
    df[col] = df[col].str.strip()

In [9]:
categorical_columns = ['Turnover', 'TravelFrequency', 'Department', 'FieldOfStudy', 'JobPosition', 'MaritalStatus', 'Gender', 'OverTime']
for col in categorical_columns:
    df[col] = df[col].astype('category')

In [10]:
numerical_columns = ['DailySalary', 'HomeDistance', 'Education', 'HourlyRate', 'JobInvolvement', 'JobLevel', 
                     'JobSatisfaction', 'MonthlySalary', 'MonthlyRateValue', 'NumCompaniesWorkedBefore', 
                     'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction', 'StockOptions', 
                     'TotalExperienceYears', 'LastYearTrainingCount', 'WorkLifeBalance', 'YearsInCompany', 
                     'CurrentRoleYears', 'YearsSincePromotion', 'YearsWithManager']
for col in numerical_columns:
    df[col] = pd.to_numeric(df[col])

In [11]:
df.dropna(inplace=True)

In [12]:
salary_cap = df['MonthlySalary'].quantile(0.99)
df['MonthlySalary'] = df['MonthlySalary'].apply(lambda x: min(x, salary_cap))

In [13]:
df['AgeGroup'] = pd.cut(df['Age'], bins=[18, 30, 40, 50, 60, 100], labels=['18-30', '31-40', '41-50', '51-60', '60+'])

In [14]:
print("Final Data Summary:")
print(df.describe(include='all'))

Final Data Summary:
                Age Turnover TravelFrequency  DailySalary  \
count   1470.000000     1470            1470  1470.000000
unique          NaN        2               3          NaN
top             NaN       No   Travel_Rarely          NaN
freq            NaN     1233            1043          NaN
mean      36.923810      NaN             NaN   802.485714
std        9.135373      NaN             NaN   403.509100
min       18.000000      NaN             NaN   102.000000
25%       30.000000      NaN             NaN   465.000000
50%       36.000000      NaN             NaN   802.000000
75%       43.000000      NaN             NaN  1157.000000
max       60.000000      NaN             NaN  1499.000000

                    Department  HomeDistance    Education   FieldOfStudy  \
count                     1470   1470.000000  1470.000000           1470
unique                       3           NaN          NaN              6
top     Research & Development           NaN          NaN  Life Sciences
freq                       961           NaN          NaN            606
mean                       NaN      9.192517     2.912925            NaN
std                        NaN      8.106864     1.024165            NaN
min                        NaN      1.000000     1.000000            NaN
25%                        NaN      2.000000     2.000000            NaN
50%                        NaN      7.000000     3.000000            NaN
75%                        NaN     14.000000     4.000000            NaN
max                        NaN     29.000000     5.000000            NaN

        EnvironmentSatisfaction Gender  ...  RelationshipSatisfaction  \
count               1470.000000   1470  ...               1470.000000
unique                      NaN      2  ...                       NaN
top                         NaN   Male  ...                       NaN
freq                        NaN    882  ...                       NaN
mean                   2.721769    NaN  ...                  2.712245
std                    1.093082    NaN  ...                  1.081209
min                    1.000000    NaN  ...                  1.000000
25%                    2.000000    NaN  ...                  2.000000
50%                    3.000000    NaN  ...                  3.000000
75%                    4.000000    NaN  ...                  4.000000
max                    4.000000    NaN  ...                  4.000000

        StockOptions  TotalExperienceYears LastYearTrainingCount  \
count    1470.000000           1470.000000           1470.000000
unique           NaN                   NaN                   NaN
top              NaN                   NaN                   NaN
freq             NaN                   NaN                   NaN
mean        0.793878             11.279592              2.799320
std         0.852077              7.780782              1.289271
min         0.000000              0.000000              0.000000
25%         0.000000              6.000000              2.000000
50%         1.000000             10.000000              3.000000
75%         1.000000             15.000000              3.000000
max         3.000000             40.000000              6.000000

        WorkLifeBalance YearsInCompany  CurrentRoleYears  YearsSincePromotion  \
count       1470.000000    1470.000000       1470.000000          1470.000000
unique              NaN            NaN               NaN                  NaN
top                 NaN            NaN               NaN                  NaN
freq                NaN            NaN               NaN                  NaN
mean           2.761224       7.008163          4.229252             2.187755
std            0.706476       6.126525          3.623137             3.222430
min            1.000000       0.000000          0.000000             0.000000
25%            2.000000       3.000000          2.000000             0.000000
50%            3.000000       5.000000          3.000000             1.000000
75%            3.000000       9.000000          7.000000             3.000000
max            4.000000      40.000000         18.000000            15.000000

        YearsWithManager AgeGroup
count        1470.000000     1462
unique               NaN        4
top                  NaN    31-40
freq                 NaN      619
mean            4.123129      NaN
std             3.568136      NaN
min             0.000000      NaN
25%             2.000000      NaN
50%             3.000000      NaN
75%             7.000000      NaN
max            17.000000      NaN

[11 rows x 32 columns]

In [19]:
cleaned_file_path = '/kaggle/working/Cleaned_HR_Data.csv'
df.to_csv(cleaned_file_path, index=False)

In [20]:
print("Cleaned data saved to:", cleaned_file_path)

Cleaned data saved to: /kaggle/working/Cleaned_HR_Data.csv